body {
  max-width: 1024px;
  margin-inline: auto;
}

html {
  scroll-behavior: smooth; 
}


@media screen and (max-width: 1080px) {
  body {
    max-width: 1080px;
    margin-inline: 4em;
  }
}
@media screen and (max-width: 450px) {
  body {
    max-width: 450px;
    margin-inline: 1em;
  }
}


@media screen and (max-width: 750px) {
  body {
    max-width: 750px;
    margin-inline: 3em;
  }
}

