body {
  margin-inline: 11em;
  max-width: 1024px;
  margin-inline: auto;
}

@media screen and (max-width: 450px) {
  body {
    background-color: lightgreen;
    margin-inline: 1.5em;
    max-width: 450px;
  }
}


